extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Challenge Create

  form(method='POST')
    input.form-control(type='hidden', name='_csrf', value=_csrf)
    label(for='title')
      | Title
      input.form-control(type='text', name='title', id="title")
    label(for='description')
      | Description
      input.form-control(type='textarea', name='description', id="description")
    label(for='type')
      | Type
      select.form-control(name='type' id='type')
        for type in types
          option(value=type.id)= type.name

    div
      | Teilnehmer
      br
      for participantTag in participantTags
        label(for='participantTags')
          | #{participantTag}
          input(type='checkbox', id='participantTags[]', name=participantTag, value=participantTag)

    input.form-control(type='submit', name='create')